.iconAngular .path1:before {
    content: "\e900";
    color: rgb(226, 50, 55);
  }
  .icon-Angular .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(181, 46, 49);
  }
  .icon-Angular .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }