.textArea{
    height: 100%;
    width: 100%;
}

.tagLine{
    font-family: CalibreRegular;
}

button.buttonStyle{
    color: rgb(var(--bright-blue-rgb));
    border: 1px solid rgb(var(--bright-blue-rgb));
    margin-top: 2rem;
}