.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.home{
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(-25deg, rgba(var(--background-start-rgb)) 45%, rgba(var(--background-end-rgb)) 45%);
    min-height: calc(100vh - 48px);
    font-weight: 600;
}

.pageDark {
  width: 100%;
  height: 100%;
  background: rgba(var(--background-end-rgb));
  min-height: calc(100vh - 48px);
}

.page {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 48px);
}

.wrapHeading {
  display: flex;
  padding: 2rem;
  justify-content: center;
}


.pageHeading {

  padding: .5rem;
  border-width : 2px; 
  border-style: solid; 
  border-color: rgba(var(--primary-border-rgb));
  box-shadow: 0px 1px 0px 1px rgba(var(--background-start-rgb));

}

.justifyCenter {
  justify-items: center;
}

.nameFont {
  font-family: bloverly;
  font-size: 2rem;
}
